<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.modules.longcoin.dao.LongcoinLocalrecordMapper">


    <!-- 基础map -->
    <resultMap type="com.icloud.modules.longcoin.entity.LongcoinLocalrecord" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="sid" column="sid"/>
     <result property="seq" column="seq"/>
     <result property="useraccount" column="useraccount"/>
     <result property="accounttype" column="accounttype"/>
     <result property="operatortype" column="operatortype"/>
     <result property="operatortypeid" column="operatortypeid"/>
     <result property="amount" column="amount"/>
     <result property="createTime" column="create_time"/>
     <result property="checked" column="checked"/>
     <result property="checkedResult" column="checked_result"/>
     <result property="checkedTime" column="checked_time"/>
     <result property="exceptionFlag" column="exception_flag"/>
     <result property="result" column="result"/>
     <result property="payStatus" column="pay_status"/>
     <result property="refundStatus" column="refund_status"/>
     <result property="fromType" column="from_type"/>
     <result property="status" column="status"/>
     <result property="statusResult" column="status_result"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,sid,seq,useraccount,accounttype,operatortype,operatortypeid,amount,create_time,checked,checked_result,checked_time,exception_flag,result,pay_status,refund_status,from_type,status,status_result
    </sql>


<select id="queryMixList" resultMap="BaseResultMap">
select * from t_longcoin_localrecord t
<where>
<if test="id != null">
    and t.id = #{id}
</if>
<if test="sid != null">
    and t.sid = #{sid}
</if>
<if test="seq != null">
    and t.seq = #{seq}
</if>
<if test="useraccount != null">
    and t.useraccount = #{useraccount}
</if>
<if test="accounttype != null">
    and t.accounttype = #{accounttype}
</if>
<if test="operatortype != null">
    and t.operatortype = #{operatortype}
</if>
<if test="operatortypeid != null">
    and t.operatortypeid = #{operatortypeid}
</if>
<if test="amount != null">
    and t.amount = #{amount}
</if>
<if test="createTime != null">
    and t.create_time = #{createTime}
</if>
<if test="checked != null">
    and t.checked = #{checked}
</if>
<if test="checkedResult != null">
    and t.checked_result = #{checkedResult}
</if>
<if test="checkedTime != null">
    and t.checked_time = #{checkedTime}
</if>
<if test="exceptionFlag != null">
    and t.exception_flag = #{exceptionFlag}
</if>
<if test="result != null">
    and t.result = #{result}
</if>
<if test="payStatus != null">
    and t.pay_status = #{payStatus}
</if>
<if test="refundStatus != null">
    and t.refund_status = #{refundStatus}
</if>
<if test="fromType != null">
    and t.from_type = #{fromType}
</if>
<if test="status != null">
    and t.status = #{status}
</if>
    <if test="sql_filter != null and sql_filter!=''">
        and ${sql_filter}
    </if>
</where>
 <if test="sidx != null and sidx!=''">
    order by ${sidx} ${sord}
</if>
</select>
</mapper>